body{
    /* margin:0;
    padding:0; */
    background-color: #ecefef;
    /* display:grid;
    grid-template-columns: 70% 30%; */
    /* height:1000px; */
}
/* .right_side{
    grid-column: 1;
}
.left_side{
     border:1px solid black;
    grid-column: 2;
}  */
/* header{
    position:sticky;
    z-index: 1;
    background-color: #107e7d;
    height:70px;
} */
/* nav{
    
    position: relative;
    top:25%;
    width:320px;
    float:right;
} */
/* nav a{
    text-decoration: none;
    color:white;
    
}
nav a:not(:last-child){
    border-right:1px solid white;
    padding-right:8px;
} */
                                                    /* body part */
/* right side */
.body_title{
    margin:6%;
}
.body-title-header{
    width:50%;
    font-size: 200%;
    color:#044b7f;
}
.body_content{
    margin:0 0 4% 10%;
    width:80%;
}
/* table */
table{
    width:100%;
    border-collapse: collapse;
}
tr:first-child{
    background-color: #044b7f;
    color:white;
}
td,th{
    border:1px solid black;
    text-align: left;
    padding:8px;
}
tr td:first-child{
    color:#ce8147;
}
tr td:nth-child(2),p{
    color:#253031;
}
tr:nth-child(odd):not(:first-child){
    background-color: rgb(166, 189, 189);
}
tr:nth-child(even){
    background-color: white;
}/* end of table */
/* footer */
.footer{
    background-color: #107e7d;
    width:auto;
    height:250px;
    position: relative;
    border:1px solid #107e7d;
}
.footer-circle-outline{
    border:1px solid black;
    width:50%;
    height:40%;
    margin:5% auto;
}/* end of footer */

/* left side */
/* .left-side{
    margin:0 auto;
    background-color: white;
}
.left-side-title-outline{
    width:70%;
    margin:0 auto;
}
.left-side-title{
    color:#0099cc;
    width:80%;
    margin:2% auto;
}
.left-side-content{
    display: grid; 
    grid-template-rows: auto auto;
    grid-template-columns: 20% 80%; 
    grid-row-gap:30%;
} */


/* span circle 1/2 */
/* .circle{
    width:25px;
    height:25px;
    border:1px solid red;
    background-color: red;
    color:white;
    border-radius: 50%;
    text-align: center;
    margin:5% auto;
} */