/* begino of display.none,hover and animation*/
.burger-menu-block .li{
    display:none;
}
.burger-menu-block:hover .li{
    display:block;
}
.burger-menu:hover .burger-menu-block{
    height:300px;
    animation-name:height;
    animation-duration:0.8s;
}
.burger-menu:hover{
    width:200px;
    animation-name:width;
    animation-duration:0.8s;
}
/* nav */
.nav{
    width:auto;
    height:100px;
    z-index: -1;
    /* border:1px solid black; */
}
.burger-menu{
    width:0;    /* here is to change width of burger menu ,default will be 300px*/
    height:80px;
    /* border:1px solid black; */
    float:right;
}
.burger-menu-block{
    height:0;   /* here is to change the height of burger menu /default will be 300px*/
    /* border:1px solid black; */
    margin-top:25px;
    background-color: #107E7D;
}
.burger-float-block-right{
    width:auto;
    height:70px;    /* here is the height that can control the burger menu height border */
    /* border:1px solid black; */
}
.burger-float-right{
    float:right;
}
.burger{
    background-color: white;
    height:5px;
    width:40px;
    margin:10px;
}
.screen-min-570{
    display:none;
}

/* animation @keyframes*/
@keyframes height{
    from{height:0}
    to{height:300px;}
}
@keyframes width{
    from{width:0}
    to{width:200px}
}
/* media query */
@media screen and (max-width:570px){
    .screen-max-570{
        display:none;
    }
    .screen-min-570{
        display:block;
    }

}