#profile-wrap{
    width:60vw;
    margin:2em auto;
    color:white;
    background-color:#044B7F;
    border-radius:10px;
    padding:1em;
}

hr{
    color:white;
}

/* Change styles to be on dark background*/
h1, h4, h5, p{
    color:white;
} 

h1{
    text-align: center;
}

#profile-cont{
    width:90%;
    margin:0 auto;
}

.title{
    color:#f4954e;
}

/* Change email box */

#changeEmail{
    display:none;
    margin-left:3em;
}

#email, h1{
    margin-bottom:.1em;
}

#change{
    color:#0099CC;
    margin-left:3em;
    padding-left:0;
    padding-top:.3em;
    text-decoration: underline;
}

#note{
    padding-top:.3em;
}

/* submit styled like button*/
input[type='submit']{
    background-color:#0099CC;
    color:white;
    border:none;
    border-radius: .8em;
    font-size:1em;
    padding:.5em .75em;
    display:block;
    cursor: pointer;
    outline: none;
}

#out{
    color:white;
    text-decoration: none;
}
#profile-cont button{
    outline: none;
}

.quiz-record a{
    color:#0099CC;
}



@media only screen and (max-width:600px){
    #profile-cont{
        width:90%;
    }
    #profile-wrap{
        width: 91%;
        padding: 0.5em;
    }
    #changeEmail{
        margin-left:0;
    }
}