/* Space for content */
.contentSpace {
	padding: 50px;
}

.center {
	text-align: center;
}

/* Container for survey */
.survey {
	width:40%;
    margin:0 auto;
    border: 3px solid #044B7F;
    border-radius:15px;
    padding:2em;
    padding-bottom:4em;
}

/* Add margin for an input group (text and input) */
.input_group {
	margin-bottom: 16px;
}

/* Add red color, bold, and margin to the warning message */
.warning_message {
	color: #e60000;
	margin-bottom: 16px;
	font-weight: bold;
}

/* Add styling to button and submit types for input */
input[type="submit"], input[type="button"] {
	 background-color:#0099CC;
    color:white;
    border:none;
    border-radius: .8em;
    font-size:1em;
    padding:.5em .75em;
    display:block;
    float:left;
    margin-left:3em;
    margin-bottom:2em;
}

input[type="submit"]:hover, input[type="button"]:hover{
    background-color:#044B7F;
}

input, textarea{
    border: 2px solid #044B7F;
    padding:.5em;
}



/* Add styling to survey thank you message */
.survey_message {
	font-size: 30px;
}

/* Position the navbar container inside the image */
.container {
	width: 100%;
	text-align: right;
}
